<!-- Return zipcodes -->

if <% session[:current_user_id] %>
<%= ZipCode.find(session[:current_zip_code]).username %>
<% end %>

<!-- History of results -->
<p>
	<% if @zip_codes.any? %>
		<% @zip_codes.each do |zip_code| %>
			<p>
				<%= link_to zip_code, sessions_path(zip_code) %> 
				<%= button_to 'Remove from List', 
						{ action: 'remove_zip_code' },
						method: :put,
						params: { zip_code_id: zip_code.id },
						data: { confirm: "Remove Zipcode?" } 
				%>
			</p>