/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background: url(<%= image_path 'backgroundimage.jpg' %>);
  font-family: Raleway;
}


#main {
  font-size: 20px;
  color: white;

}


.quiz_grid {
  height: 80%;
  width: 84%;
  margin: 0 auto; 
}

.quiz_image input{
  width: 48%;
  height: 47%;
  float: left;
  border-radius: 12px;
  padding: 6px;
}

#logo {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#title {
  text-align: center;
  font-family: Roboto Slab;
  font-size: 80px;
  color: white;
}

#nav {
  font-size: 20px;
  color: white;
  margin-left: auto;
}

#zip {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}


